@using TravisBrownBlog.Services.Interfaces
@using TravisBrownBlog.Enums

@inject IBlogPostService _BlogPostService
@inject IImageService _ImageService



<!-- Start Sidebar Area  -->
<div class="sidebar-inner">




    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form action="#">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
    <!-- End Single Widget  -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular Posts</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">

            @*Foreach popular posts*@
            @foreach (BlogPost blogPost in (await _BlogPostService.GetPopularBlogPostsAsync()).Take(3))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.BlogPostImage)" />
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                @blogPost.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@blogPost.DateCreated.ToString("MM dd yyyy")
                                <li>
                                <li>@blogPost.Comments.Count Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Post  -->
            }
            <!-- Start Post List  -->
            
                <h5 class="widget-title">Recent Blogs</h5>
                @*Foreach popular posts*@
                @foreach (BlogPost blogPost in await _BlogPostService.GetRecentBlogPostsAsync(3))
                {
                    <!-- Start Single Post  -->
                    <div class="content-block post-medium mb--20">
                        <div class="post-thumbnail">
                            <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.BlogPostImage)" />
                            </a>
                        </div>
                        <div class="post-content">
                            <h6 class="title">
                                <a asp-action="Details" asp-controller="BlogPosts" asp-route-slug="@blogPost.Slug">
                                    @blogPost.Title
                                </a>
                            </h6>
                            <div class="post-meta">
                                <ul class="post-meta-list">
                                    <li>@blogPost.DateCreated.ToString("MM dd yyyy")
                                    <li>
                                    <li>@blogPost.Comments.Count Comments</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- End Single Post  -->
                }
             
                    <h5 class="widget-title">Categoires</h5>
                    @foreach (Category category in (await _BlogPostService.GetCategoriesAsync()).Take(4))
                    {
                        <!-- Start Single Post  -->
                        <div class="content-block post-medium mb--20">
                            <a asp-action="Details" asp-controller="Categories" asp-route-id="@category.Id" class=""> 
                            <div class="post-thumbnail">
                                <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData!,category.ImageType!,(int)DefaultImage.CategoryImage)" alt="Category Image" />
                            </div>
                            <div class="content">
                                <h6 class="title">
                                  <h5>
                                            @category.Name
                                </h5>
                                </h6>

                            </div>
                            </a>


                        </div>
                        <!-- End Single Post  -->
                    }

                
                <!-- End Post List  -->

            </div>
            <!-- End Single Widget  -->
  
            </div>
            <!-- End Single Widget  -->
           
            </div>
            <!-- End Single Widget  -->


        </div>
        <!-- End Sidebar Area  -->
